#!/system/bin/sh

#如果不明白作用,请勿轻易改变.
pref_id="5000"
mark_id="2021"
table_id="2021"
mode="blacklist"
static_dns="8.8.8.8"
ipv6_iptables="false"
Clash_bin_name="clash"
auto_subscription="false"
update_interval="0 2 * * *"
Clash_data_dir="/data/clash"
Clash_run_path="${Clash_data_dir}/run"
busybox_path="/data/adb/magisk/busybox"
CFM_logs_file="${Clash_run_path}/run.logs"
template_file="${Clash_data_dir}/template"
appuid_file="${Clash_run_path}/appuid.list"
Clash_pid_file="${Clash_run_path}/clash.pid"
Clash_bin_path="/system/bin/${Clash_bin_name}"
Clash_config_file="${Clash_data_dir}/config.yaml"
Clash_geoip_file="${Clash_data_dir}/Country.mmdb"
system_packages_file="/data/system/packages.list"
temporary_config_file="${Clash_run_path}/config.yaml"
filter_packages_file="${Clash_data_dir}/packages.list"
subscription_url=""

# 自动绕过本机ip,filter_local请勿轻易打开,打开后有可能引起设备软重启,如你手机有获取到公网ip.
# 优先重启cfm,即可绕过本机ip,检查是否正常,次要选择尝试打开filter_local,如遇设备软重启,请关闭.
filter_local="false" 
#请不要轻易打开. 不要轻易打开,不要轻易打开.


Clash_permissions="6755"
Clash_user_group="radio:radio"
iptables_wait="iptables -w 100"
Clash_group=`echo ${Clash_user_group} | awk -F ':' '{print $2}'`
Clash_dns_port=`grep "listen" ${template_file} | awk -F ':' '{print $3}'`
Clash_tproxy_port=`grep "tproxy-port" ${template_file} | awk -F ':' '{print $2}'`
reserved_ip=(0.0.0.0/8 10.0.0.0/8 100.64.0.0/10 127.0.0.0/8 169.254.0.0/16 172.16.0.0/12 192.0.0.0/24 192.0.2.0/24 192.168.0.0/16 198.18.0.0/15 198.51.100.0/24 203.0.113.0/24 224.0.0.0/4 255.255.255.255/32 240.0.0.0/4)
