#!/system/bin/sh

scripts=`realpath $0`
scripts_dir=`dirname ${scripts}`
. /data/clash/clash.config

start_clash() {
    if [ -f "${Clash_bin_path}" ] ; then
        mkdir -p ${Clash_run_path}
        chown ${Clash_user_group} ${Clash_bin_path}
        chmod ${Clash_permissions} ${Clash_bin_path}
        chmod 0644 ${Clash_config_file}
        setcap 'cap_net_admin,cap_net_raw+ep' ${Clash_bin_path}
    else
        exit 1
    fi

    if [ -f ${Clash_config_file} ] && [ -f ${Clash_geoip_file} ] ; then
        if $(${Clash_bin_path} -d ${Clash_data_dir} -t > /dev/null) ; then
            nohup ${Clash_bin_path} -d ${Clash_data_dir} > /dev/null 2>&1 &
            echo -n $! > ${Clash_pid_file}
        fi
    fi

    if ! (${scripts_dir}/clash.tool -p) ; then
        kill -15 `cat ${Clash_pid_file}`
        rm -rf ${Clash_pid_file}
        exit 1
    fi
}

stop_clash() {
    kill -15 `cat ${Clash_pid_file}`
    rm -rf ${Clash_pid_file}
}

while getopts ":sk" signal ; do
    case ${signal} in
        s)
            start_clash
            ;;
        k)
            stop_clash
            ;;
        ?)
            echo ""
            ;;
    esac
done